<%- include("./partials/header.ejs") %>
<h1 class="featured-title">All posts...</h1>
<div class="featured-div">
  <% let i = 1; %> <% posts.forEach(function(post) { %>
  <div id="f<%= i++ %>" class="featured-post all-div">
    <img
      loading="lazy"
      src="<%= post.image %>"
      alt="Blog image"
      onerror="this.onerror=null;this.src='/images/default.jpg';"
    />
    <h3><%= post.title %></h3>
    <p class="post-content"><%= post.content %></p>
  </div>
  <div class="post-interactions">
    <div class="innerPostInfo">
      <button class="info-btn">
        <img src="/sources/heart.png" alt="like button" />
      </button>
      <div class="views">
        <img src="/sources/watch.png" alt="views icon" />
        <p>0</p>
      </div>
      <button class="info-btn">
        <img src="/sources/comment.png" alt="comment button" />
      </button>
    </div>
  </div>
  <% }) %>
</div>
<div class="container">
  <nav aria-label="Page navigation example" class="pagination_mid">
    <ul class="pagination">
      <% let prev_page; %> <% if (currentPage != 1) { %>
      <li class="page-item">
        <a class="page-link" href="/all-posts?page=1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <% } %> <% for(let p = 1; p <= totalPages; p++) { %>
      <li class="page-item <%= p === currentPage ? 'active' : '' %>">
        <a class="page-link" href="/all-posts?page=<%= p %>"> <%= p %> </a>
      </li>
      <% } %> <% if (currentPage != totalPages) { %>
      <li class="page-item">
        <a
          class="page-link"
          href="/all-posts?page=<%= totalPages %>"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <% } %>
    </ul>
  </nav>
</div>

<% if (success === 'true') { %>
<script>
  alert("Post added successfully!");
  window.history.replaceState({}, document.title, window.location.pathname);
</script>
<% } %> <%- include("./partials/footer.ejs") %>
