<%- include("./partials/header.ejs") %>
<h1 class="featured-title">Featured today...</h1>
<div class="featured-div">
  <% let i = 1; %> <% featured.forEach(function(post) { %>
  <div id="f<%= i++ %>" class="featured-post home-div">
    <img src="<%= post.image %>" alt="Blog image" />
    <h3><%= post.title %></h3>
    <p class="post-content"><%= post.content %></p>
  </div>
  <div class="post-interactions">
    <div class="innerPostInfo">
      <button class="info-btn">
        <img src="/sources/heart.png" alt="like button" />
      </button>
      <div class="views">
        <img src="/sources/watch.png" alt="views icon" />
        <p>0</p>
      </div>
      <button class="info-btn">
        <img src="/sources/comment.png" alt="comment button" />
      </button>
    </div>
  </div>
  <% }) %>
</div>
<%- include("./partials/footer.ejs") %>
